/* ==================================== */
/* @GROUP Buttons */
/* ==================================== */
.button,
.gform_button,
.wp-block-button__link, /* gutenberg button*/
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 14px;
	font-weight: 600;
	background-color: var(--brand1);
	border: 1px solid var(--brand1);
	text-transform: uppercase;
	display: inline-block;
	line-height: 1;
	padding: 16px 30px;
	color: #fff;
	margin-bottom: 5px;
	cursor: pointer;
	border-radius: 3px;
	transition: all 0.1s ease;
}
.button-small {
	font-size: 75%;
	padding: 6px 10px;
}
.button:hover,
.wp-block-button__link:hover, /* gutenberg button*/
.gform_button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: var(brand3);
	color: var(--brand3);
	transform: translatey(-2px);
}
.button:active,
.wp-block-button__link:active, /* gutenberg button*/
.gform_button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	transform: translatey(2px);
}
.button.secondary-button, input[type="reset"] {
	color: black;
	background: lightgrey;
}
.button.wire-button-reverse{
	background-color: transparent;
	border-color: white;
	color: white;
}
.wp-block-buttons .eplus-icon{
	margin-left: 15px;
	vertical-align: top;
}

/* Admin Button */
a.admin-button,
a.post-edit-link{
	text-transform: uppercase;
	font: bold 9px arial, helvetica, sans-serif;
	color: #fff;
	padding: 4px 12px;
	border: 1px solid #bbb;
	background-color: #269CE9;
	background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	border-color: #269CE9;
	background-clip: padding-box;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	text-decoration: none;
	display: block;
	width: fit-content;
	margin: 5px 5px 5px 0;
}