/* ==================================== */
/* @GROUP Icons */
/* ==================================== */
.nova3-icons a{
	display: inline-block;
	margin-right: 22px;
	text-align: center;
	color: #555;
	vertical-align: middle;
}
.nova3-icons.contacts a{
	margin-right: 45px;
}
.nova3-icons a i{
	font-size: 20px;
	vertical-align: middle;
}
