/* ==================================== */
/* @GROUP Slick SLider */
/* ==================================== */
	/* arrows */
	.slick-prev,
	.slick-next {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 50px;
		height: 50px;
		padding: 0;
		transform: translate(0, -50%);
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: transparent;
		z-index: 1;
	}
	.slick-prev:hover,
	.slick-prev:focus,
	.slick-next:hover,
	.slick-next:focus {
		color: transparent;
		outline: none;
		background: transparent;
	}
	.slick-prev:hover:before,
	.slick-prev:focus:before,
	.slick-next:hover:before,
	.slick-next:focus:before {
		opacity: 1;
	}
	.slick-prev.slick-disabled:before,
	.slick-next.slick-disabled:before {
		opacity: .25;
	}
	.slick-prev:before,
	.slick-next:before {
		font-size: 50px;
		line-height: 1;
		opacity: .75;
		color: white;
	}
	.slick-prev {
		left: 0;
	}
	.slick-prev:before {
		content: "\f341";
	}
	.slick-next {
		right: 0;
	}
	.slick-next:before {
		content: "\f345";
	}

/* DOTS */
	.slick-dots {
		position: absolute;
		bottom: 10px;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
	}
	.slick-dots li {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
	}
	.slick-dots li button {
		font-size: 0;
		display: block;
		width: 20px;
		height: 20px;
		padding: 5px;
		cursor: pointer;
		border: 0;
		background: white;
		opacity: 0.3;
		border-radius: 50%;
	}
	.slick-dots li button:hover {
		opacity: 1
	}
	.slick-dots li.slick-active button {
		opacity: .75;
		color: black;
	}

/* ==================================== */
/* @GROUP nova3 Carousel */
/* ==================================== */
.nova3-carousel .slick-track{
	display: flex;
  }
.nova3-carousel .slick-slide{
	display: flex;
	height: auto;
	align-items: center;
	justify-content: center;
	padding: 30px;
}
.nova3-carousel img{
	max-height: 125px;
	font-size: 0;
}

/* ==================================== */
/* @GROUP nova3 Slider */
/* ==================================== */
.nova3-slider .slick-slide{
	height: 50vh;
	display: flex !important;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 0;
}
.nova3-slider .slick-slide:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}
.nova3-slider .slick-slide .inner{
	position: relative;
	z-index: 2;
	margin: 0 auto;
}
.nova3-slider .slide-title{
	font-size: 40px;
	margin-bottom: 25px;
	color: white;
	line-height: 1;
	font-weight: 400;
}
.nova3-slider .slide-text{
	font-size: 20px;
	margin-bottom: 20px;
	color: white;
	line-height: 1;
}
